body, html {
    font-family: 'Open Sans', sans-serif;
    background: #000;  /* fallback for old browsers */
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    width: 100%;
    min-height: 100vh;
    color: $textColor;
}

h1 {
    font-size: 4em;
    + p {
        margin-top: .5em;
        text-align: center;
        font-size: 2em;
        opacity: .85;
    }
}

main {
    .c-content {
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(space-around);
        @include align-items(center);
        padding: 0 1em;
        &__title {
            font-family: Kalam, Helvetica, Arial;
            margin-top: 2.5rem;
            font-size: 3em;
            text-align: center;
        }
        &__img {
            display: block;
            max-width: 100%;
            margin: 1.5rem auto;
            border-radius: 3px;
            box-shadow: 0 2px 8px rgba($color: #000000, $alpha: .25);
        }
        &__p {
            max-width: 100%;
            width: 800px;
            line-height: 1.5;
            font-size: 1.2em;
            margin-bottom: 1.5rem;
            text-indent: 1em;
        }
        &__ul {
          max-width: 100%;
          width: 800px;
          line-height: 1.5;
          font-size: 1.2em;
          margin-bottom: 1.5rem;
          list-style: circle;
          padding-inline-start: 40px;
        }
        &__bold {
          font-weight: 600;
        }
    }
    .informacoes {
        p {
            line-height: 1.5em;
            font-size: 1.2em;
            width: fit-content;
        }
        a {
            text-decoration: none;
            color: inherit;
            
        }
        
        .sociais {
            margin: 1.5em 0 3em;
            @include flexbox();
            @include justify-content(space-around);
            i {
                color: $textColor;
                font-size: 2em;
            }
        }
    }
}


@media (max-width: 768px) {
    main {
        .c-content {
            &__title {
                font-size: 2.25em;
            }
        }
    }
}